<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Smart Leave Management System</h1>
        <h3>Dashboard</h3>

        <div class="dashboard">
            <div class="card">Apply Leave</div>
            <div class="card">Leave Balance</div>
            <div class="card">Approval Status</div>
            <div class="card">Calendar View</div>
        </div>
    </div>
</body>
</html>